<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"> -->
    <title>Oneklass Attendance</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
    <div class="content" style="width: 95%;
        background-color: rgb(218, 218, 248);
        border-radius: 15px;
        padding: 10px;">
        <div class="head" style="border-bottom: 2px solid rgb(121, 121, 121);
        padding: 10px 0;">
            <div class="sendset" style="display: flex;">
                <img  style="height: 80px; width: 80px; border-radius: 50%;" src="https://oneklass.oauife.edu.ng/static/general/images/oneklass_logo_nobg.png"/>

                <div class="det-hold c-vert" style="margin-left: 10px; margin-top: 20px;
                justify-content: center;">
                    <span class="name top" style="padding:10px 4px; font-weight: bold;font-size: 15px;">Oneklass Attendance</span>
                    <br>
                    <span class="name bot" style="padding:0px 4px; color: grey; font-size: 12px;">@Obafemi Awolowo University CDL</span>
                </div>
            </div>
        </div>
        <div class="body" style="padding: 10px;
        font-size: 13px;">
            <p>
                Hello, <br><br>

                To ensure seamless attendance tracking, all students are required to install the Oneklass attendance tracking software.<br><br>

                Download or update the application below. NB Website(Non-Playstore) download may flag harmful. <b>The app is completely safe</b> <br><br> 
                <a style="background-color: rgb(40, 22, 202); padding: 5px; text-decoration: none; color: white; border-radius: 3px;" href="https://oneklass.com.ng/app">Get Oneklass Android App</a> <br><br>

                An account has been created for you. Simply log in using your email or JFS ID and the default password: 00000. Upon logging in, you will be prompted to set up your facial recognition and fingerprint data. Ensure to do this before <b>Wednesday, 30th October 2024</b><br><br>

                Course-specific codes required for joining your relevant classes will be provided in subsequent emails.<br><br>

                <b>Frequently Asked Questions</b><br><br>

                <b>What if I don’t have an Android phone?</b><br>
                You may use the Oneklass website to set up your information and to always mark attendance @ <a href="https://oneklass.com.ng">https://oneklass.com.ng</a><br><br>

                <b>What if I don’t have a phone?</b><br>
                You may use any available device to set up your information and record attendances.<br><br>

                If you encounter any issues during setup, please send us a mail at myoneklass@gmail.com for assistance.
            </p>
        </div>
        
            
    </div>
</body>
</html>