<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"> -->
    <title>Oneklass Attendance</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
    <div class="content" style="width: 95%;
        background-color: rgb(218, 218, 248);
        border-radius: 15px;
        padding: 10px;">
        <div class="head" style="border-bottom: 2px solid rgb(121, 121, 121);
        padding: 10px 0;">
            <div class="sendset" style="display: flex;">
                <img  style="height: 80px; width: 80px; border-radius: 50%;" src="https://oneklass.oauife.edu.ng/static/general/images/oneklass_logo_nobg.png"/>

                <div class="det-hold c-vert" style="margin-left: 10px; margin-top: 20px;
                justify-content: center;">
                    <span class="name top" style="padding:10px 4px; font-weight: bold;font-size: 15px;">Oneklass Attendance</span>
                    <br>
                    <span class="name bot" style="padding:0px 4px; color: grey; font-size: 12px;">@Obafemi Awolowo University CDL</span>
                </div>
            </div>
        </div>
        <div class="body" style="padding: 10px;
        font-size: 13px;">
            <h2>Attendance marking guide</h2>

            <p>To mark attendance using Oneklass, please follow the guidelines outlined below.</p>
        
            <h4>1. Joining Attendance Sessions</h4>
            <p>Attendance can be joined by entering the designated attendance code or by using the relevant links below:</p>
            <ul>
                <li><b>Biology</b> - Code:MKSWY - Link: <a href="https://oneklass.com.ng/join-attendance/MKSWY">JOIN BIO</a></li>
                <li><b>Mathematics</b> - Code:AS1QU - Link: <a href="https://oneklass.com.ng/join-attendance/AS1QU">JOIN MTH</a></li>
                <li><b>Government</b> - Code:0EWPT - Link: <a href="https://oneklass.com.ng/join-attendance/0EWPT">JOIN GOV</a></li>
                <li><b>Chemistry</b> - Code:U0D6H - Link: <a href="https://oneklass.com.ng/join-attendance/U0D6H">JOIN CHM</a></li>

            </ul>
        
            <h4>2. Commencement of Class</h4>
            <p>At the start of the class, attendance will be activated. You may then scan the displayed QR code to initiate attendance marking.</p>
        
            <p>For users accessing Oneklass via the mobile app, please wait for your device to connect via Bluetooth before trying scanning. <br><br> Once you have scanned the QR code, feel free to share it with nearby students for ease of access.</p>
        
            <h4>2b Biometric Authentication</h4>
            <p>After scanning the QR code, facial authentication will be required to complete the attendance process. Mobile app users with registered fingerprints may be prompted to use fingerprint verification for faster and more convenient attendance marking.</p>
        
            <h4>3. Classroom Conduct</h4>
            <p>Please remain seated and patiently wait for the QR code to reach your area; there is no need to move around or crowd to scan the QR code.</p>
        
            <h4>4. Support</h4>
            <p>For any issues or further assistance, please send us a mail at <a href="mailto:myoneklass@gmail.com">myoneklass@gmail.com</a></p>
        
        
        </div>
        
            
    </div>
</body>
</html>