<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"> -->
    <title>Mail Confirmation</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
    <div class="content" style="width: 95%;
        background-color: rgb(218, 218, 248);
        border-radius: 15px;
        padding: 10px;">
        <div class="head" sty2le="border-bottom: 2px solid rgb(121, 121, 121);
        padding: 10px 0;">
            <div class="sendset" style="display: flex;">
                <img  style="height: 80px; width: 80px; border-radius: 50%;" src="https://oneklass.com.ng/static/general/images/wgtbam.png"/>

                <div class="det-hold c-vert" style="margin-left: 10px; margin-top: 20px;
                justify-content: center;">
                    <span class="name top" style="padding:10px 4px; font-weight: bold;font-size: 15px;">OAU WGTBAM 2024</span>
                    <br>
                    <span class="name bot" style="padding:0px 4px; color: grey; font-size: 12px;">@Obafemi Awolowo University</span>
                </div>
            </div>
        </div>
        <div class="body" style="padding: 10px;
        font-size: 13px;">
            <p>Hiii, <br><br>
                Happening live tomorrow at the <b>Oduduwa Hall</b>, 'OAU Who Gets to be a Millionaire' kickstarts by <b>9am</b>.
                <br><br>
                The event will feature renowned guests, OluwaDollarz, alongside other distinguished guests. Our esteemed headline sponsor, Oraimo, will be giving souvenirs to winning attendees.
                <br><br>
                We kindly request the pleasure of your company, and encourage you to extend this invitation to your friends and colleagues.
                
            </p>
        </div>
        
            
    </div>
</body>
</html>